<h1 class='header-thing'>Welcome to TennisFinda!</h1>
<p class='header-thing'>Let's have a look at a zip code and maximum radius and see if we can't find you a place to play tennis =).</p>

<%= react_component 'MotherApp' %>
